.row.header .user>.button {
    width: 65px;
    height: 60px;
    float: right;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    padding-top: 15px;
}

.btn-color {
    color: #fff;
    background-color: #337ab7;
    border-color: #337ab7;
}

/* Basic Grey */
.basic-grey {
    margin-left:auto;
    margin-right:auto;
    max-width: 60%;
    padding: 25px 15px 25px 10px;
    color: #12175A;
    font-weight: bold;
  /*  border:1px solid #E4E4E4;*/
}
.basic-grey h1 {
    font-size: 25px;
    padding: 0px 0px 10px 40px;
    display: block;
    border-bottom:1px solid #E4E4E4;
    margin: -10px -15px 30px -10px;;
    color: #888;
}
.basic-grey h1>span {
    display: block;
    font-size: 11px;
}
.basic-grey label {
    display: block;
    margin: 0px;
    /*display: inline-block;
    float: left;
    clear: left;
    width: 250px;
    height: 50px;
    text-align: right;*/
}
.basic-grey label>span {
    float: left;
    width: 20%;
    text-align: right;
    padding-right: 10px;
    margin-top: 10px;
    color: #888;
}
.basic-grey input[type="text"], .basic-grey input[type="email"], .basic-grey textarea {
    border: 1px solid #9EA5BB;
    color: #888;
    margin-bottom: 16px;
    margin-right: 6px;
    margin-top: 2px;
    outline: 0 none;
    padding: 3px 3px 3px 5px;
    width: 90%;
    font-size: 12px;
    line-height:15px;
    box-shadow: inset 0px 1px 4px #ECECEC;
    -moz-box-shadow: inset 0px 1px 4px #ECECEC;
    -webkit-box-shadow: inset 0px 1px 4px #ECECEC;
    display: inline-block;
   /* float: right;*/
}
.basic-grey textarea{
    padding: 5px 3px 3px 5px;
}

.basic-grey legend{
     background-color: #2d3e63;
     color: #f6f6f6;
     font-weight: normal;
     text-align: center;
     vertical-align: middle

 }

.legend{
    background-color: #2d3e63;
    color: #f6f6f6;
    font-weight: bold;
    text-align: center;
    vertical-align: middle;
    height: 25px;
    font-size: 18px;

}
.basic-grey textarea{
    height:100px;
}
.basic-grey .button {
    color: #fff;
    background-color: #2d3e63;
    border-color: #2d3e63;
}



.basic-grey input[type="radio"] + label span {
    display:inline-block;
    width:19px;
    height:19px;
    margin:-1px 4px 0 0;
    vertical-align:middle;
    cursor:pointer;
    -moz-border-radius:  50%;
    border-radius:  50%;
}

#map {
    height:900px;
    width:100%;
}
.infoWindowContent {
    font-size:  14px !important;
    border-top: 1px solid #ccc;
    padding-top: 10px;
}
h2 {
    margin-bottom:0;
    margin-top: 0;
}
.tableBox {
    border: 1px solid black;
    width: 100%;
}

.apiTable {
    margin-left:auto;
    margin-right:auto;
    max-width: 60%;
    padding: 25px 15px 25px 10px;
    font-weight: bold;
    /*  border:1px solid #E4E4E4;*/
}

.apiTable legend{
    background-color: #2d3e63;
    color: #f6f6f6;
    font-weight: normal;

}

.apiTitle{
    color: #285e8e;
    font-weight: bold;
    font-size: 14px;
}
.userName{
    font-size: 12px;
    font-weight: bold;
    font-style: italic;
    vertical-align: bottom;
}

.userDropdown{
    width: 100px;
    height: 60px;
    float: right;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    padding-top: 15px;
}

.buttonRigth {
    float: right;
    position: relative;
}

.icon {
    width:60px;
    height:60px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-top: auto;
    margin-bottom: auto;
}
.iconDiv{
    width:100%;
    height:110px;
    background-color: #c1e2b3;
}
.detailsSubs{
    list-style: none;
    position: relative;

    width: 100%;
}

.iconText{
    margin-left: 4px;
    margin-right: 4px;
    display: block;
    font-weight: bold;
}
/*.subscriptionsTable{
    border-color: #2d3e63;
    border-radius: 6px;
    border: 1px solid black;
    width: 100%;
    display: block;
}*/
.strongText{
    font-weight: bold;
    color: #2d3e63;
}
.status{
    font-weight: bold;
    color: #2d3e63;
    font-size: 22px;
}
.detailsSubs td {
     border: 1px solid black;
     border-color: #2d3e63;
     border-radius: 6px;
 }
.detailsSubs tbody {
    border: 2px solid black;
    border-color: #2d3e63;
    border-radius: 6px;
}
.noBorder{
    border: 0px solid black;
}
.subsAddTable {
    margin-left:auto;
    margin-right:auto;
    max-width: 80%;
    padding: 25px 15px 25px 10px;
    font-weight: bold;
    border:1px solid #2d3e63;
    width: 90%;
    height: 230px;
}
.errorText{
    color:#B7544B;
    font-style: italic;
    font-weight: bold;
}
.selectBox {
    background: transparent;
    width: 268px;
    padding: 5px;
    font-size: 16px;
    line-height: 1;
    height: 38px;
    color: #333333;
}

.subsinput{
    display:inline-block;
    width:268px;
    height:19px;
    margin-left: 2px;
    vertical-align:middle;
}

.linkData{
    text-align: center;
    font-style: italic;
    color:#5e5e5e ;
    font-weight: bold;
}

.huge {
    font-size: 40px;
}

.panel-green > .panel-heading {
    border-color: #5cb85c;
    color: #fff;
    background-color: #5cb85c;
}

.panel-green {
    margin-bottom: 20px;
    background-color: #fff;
    border: 1px solid transparent;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
    box-shadow: 0 1px 1px rgba(0,0,0,.05);
    border-color: #5cb85c;
}

.panel-yellow > .panel-heading {
    border-color: #f0ad4e;
    color: #fff;
    background-color: #f0ad4e;
}

.panel-yellow {
    margin-bottom: 20px;
    background-color: #fff;
    border: 1px solid transparent;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
    box-shadow: 0 1px 1px rgba(0,0,0,.05);
    border-color: #f0ad4e;
}

.panel-red {
    margin-bottom: 20px;
    background-color: #fff;
    border: 1px solid transparent;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
    box-shadow: 0 1px 1px rgba(0,0,0,.05);
    border-color: #d9534f;
}

.panel-red > .panel-heading {
    border-color: #d9534f;
    color: #fff;
    background-color: #d9534f;
}

.subscriptions{
    border: 2px solid;
    border-color: #2d3e63;
    text-align: center;
    vertical-align: middle;
}

.inputText {
    border: 1px solid #9EA5BB;
    color: #444444;
    margin-bottom: 16px;
    margin-right: 6px;
    margin-top: 2px;
    outline: 0 none;
    padding: 3px 3px 3px 5px;
    width: 100%;
    font-size: 12px;
    line-height: 15px;
    box-shadow: inset 0px 1px 4px #ECECEC;
    -moz-box-shadow: inset 0px 1px 4px #ECECEC;
    -webkit-box-shadow: inset 0px 1px 4px #ECECEC;
    display: inline-block;
    border-radius: 4px;
}

.inputText:focus {
    border-color: #66afe9;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
}

.centerAligment{
    text-align: center;
    vertical-align: middle;
}

.label {
    display: inline-block;
    cursor: pointer;
    position: relative;
    padding-left: 25px;
    margin-right: 15px;
    font-size: 13px;
}

.password {
    border: 1px solid #9EA5BB;
    color: #888;
    margin-bottom: 16px;
    margin-right: 6px;
    margin-top: 2px;
    outline: 0 none;
    padding: 3px 3px 3px 5px;
    width: 90%;
    font-size: 12px;
    line-height: 15px;
    box-shadow: inset 0px 1px 4px #ECECEC;
    -moz-box-shadow: inset 0px 1px 4px #ECECEC;
    -webkit-box-shadow: inset 0px 1px 4px #ECECEC;
    display: inline-block;
    border-radius: 4px;
}

.iconInput {
    width:36px;
    height:36px;
    background-color: #082442 ;
    border-radius: 4px;
}
.inputT {
    border: 1px solid #9EA5BB;
    color: #444444;
    outline: 0 none;
    padding: 3px 3px 3px 5px;
    width: 84%;
    line-height: 15px;
    box-shadow: inset 0px 1px 4px #ECECEC;
    -moz-box-shadow: inset 0px 1px 4px #ECECEC;
    -webkit-box-shadow: inset 0px 1px 4px #ECECEC;
    display: inline-block;
    border-radius: 4px;
    height: 34px;
}
.inputFrame{
    border: 1px solid #9EA5BB;
    /*width: 95%;*/
    border-radius: 4px;
}

.inputData{
    border: 1px solid #9EA5BB;
    width: 70%;
    border-radius: 4px;
}

.apiTab {
    margin-left:auto;
    margin-right:auto;
    max-width: 100%;
    padding: 25px 15px 25px 10px;
    font-weight: bold;
    border:1px solid #2d3e63;
    width: 90%;
}
.rigthText{
    text-align: right;
    margin-right: 10px
}


