.Billabong-01 {
    width: 294px;
    height: 162px;
}

.Billabong-taps-NetSu {
    width: 256px;
    height: 40px;
    font-family: ProximaNova;
    font-size: 16px;
    line-height: 1.25;
    text-align: left;
    color: #3c454c;
}